@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

:root {
    --sea-green-crayola: #44ffd1ff;
    --iris: #6153ccff;
    --flirt: #a60067ff;
    --jazzberry-jam: #961d4eff;
    --dark-sienna: #360a14ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-image: url(/assets/img/bg.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--sea-green-crayola);
}